beautifulsoup4==4.12.3
blinker==1.8.2
bs4==0.0.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
configparser==7.1.0
dataclass-wizard==0.22.3
DateTime==5.5
Flask==3.0.3
idna==3.8
itsdangerous==2.2.0
Jinja2==3.1.5
kumpeapi==1.0.8
loguru==0.7.2
MarkupSafe==2.1.5
PyMySQL==1.1.1
python-dotenv==1.0.1
pytz==2024.2
requests==2.32.3
soupsieve==2.6
urllib3==2.2.3
Werkzeug==3.0.4
zope.interface==7.0.3
zuercherportal_api==1.0.3
